---
title: Factory Town.
layout: default
---

<section class="listing">

	<div class="content-wrap listing-wrap">			


<!-- 		<div class="listing-item">

				<h3>WE TELL POWERFUL IMAGINATIVE STORIES</h3>
				<h3>IN THE UNIVERSAL LANGUAGE OF CINEMA.</h3>
				
				<p>We are writer director duo.</p>

				<p>We're a creative agency founded on the idea that stories are the most valuable commodity we have. 
				</p>
				<p>
						We work closely with brands and non-profits to understand their vision and to bring it to life through memorable storytelling.
				</p>

		</div> -->


		{% assign sorted_projects = site.projects | sort:"position" %}
		{% for project in sorted_projects %}

		<div class="listing-item">
			
			<a class="listing-item__link" href="{{ project.url }}">

				<div class="listing-item__image">
					<img src="{{ project.Featured-Image  }}" alt="{{ project.title }}">
				</div>

				<div class="listing-item__content listing-item__content--{{ site.data.settings.grid_settings.content_alignment }}">
					<div class="listing-item__info">
						<h2 class="listing-item__title">{{ project.title }}</h2>
						<p class="listing-item__subtitle">{{ project.Sub-Title }}</p>
						<p class="listing-item__subtitle">{% for category in project.categories %}
								(<em>{{ category }}</em>)
							{% endfor %}</p>
						
					</div>
				</div>

			</a>

		</div>

		{% endfor %}

	</div>

</section>
