/* 
# hot pink: #ff0179
# gray-blue: #A0D2DB
# dark-dark gray: #2D2D2D
# light gray (subheads): #939393
# lightest gray (body text): 	#E6E6E6
*/

// Main Navigation
.menu__list {
	text-transform: uppercase;
}

.menu__list__item a:link, 
.menu__list__item a:visited {
	color: #A0D2DB;
}

.menu__list__item a:hover {
	color: #ff0179;
}

// Footer
footer {
	text-align: center;
}

// Type
h1,
h2 {
	color:  #ff0179 !important;
	font-family: 'Yeseva One', cursive;
	letter-spacing: 0.1em;
}

h3 {
	color: #A0D2DB;
}