/* 
# hot pink: #ff0179
# gray-blue: #A0D2DB
# dark-dark gray: #2D2D2D
# light gray (subheads): #939393
# lightest gray (body text): 	#E6E6E6
*/

// Global
body {
	background: #000;
}

// Logo
.header__logo {
    width: auto;
}

// Main Navigation
.menu__list {
	text-transform: uppercase;
}

.menu__list__item a:link, 
.menu__list__item a:visited {
	color: #fff;
}

.menu__list__item a:hover {
	color: #ff0179;
}

// Footer
footer {
	text-align: center;
}

// Type
h1, h2 {
	font-family: 'Yeseva One', cursive;
	letter-spacing: 0.1em;
}

h1 {
	color:  #ff0179 !important;
}

h2 {
	color:  #fff !important;
}

h3 {
	color: #fff !important;
	font: "M PLUS 1p", sans-serif;
}

// Homepage Overlay w/ Animation
#overlay {
	background: rgba(0,0,0,.75);  
  
	/* stretch overlay to fill entire screen  */
	position: fixed;
	top: 0;
	left: 0;
	height:100vh;
	width: 100%;
	z-index: 2;
	

	// Styling
	padding: 4em 1em;
}

#overlay p {
	font-size: 115px; /* Some tweener fallback that doesn't look awful */ 
	font-size: 8.2vw;  
	font-family: 'Yeseva One', cursive;
	font-weight: 900;
	line-height: 1em;
	color: transparent;
	-webkit-text-stroke: 2px white;
	text-stroke: 2px white;

	// For typewriter effect
	width: 100%;
    margin: 0 auto;
  
    white-space: nowrap;
    overflow: hidden;
}

// Faux timing
#overlay p:nth-child(1) {
	animation: typewriter .75s 1s steps(60) 1 normal both;
}

#overlay p:nth-child(2) {
	animation: typewriter .75s 1.25s  steps(60) 1 normal both;
}

#overlay p:nth-child(3) {
	animation: typewriter .75s 1.5s  steps(60) 1 normal both;
}

#overlay p:nth-child(4) {
	animation: typewriter .75s 1.75s  steps(60) 1 normal both;
}

#overlay p:nth-child(5) {
	animation: typewriter .75s 2s  steps(60) 1 normal both;
}

.hide {
	opacity: 0;
	z-index: -1 !important;
}


// Animation
@keyframes typewriter{
	from{
		width: 0;
	}
	to {
		width: 1;
	}
}	
.listing-item__image {
	background-size: cover;
}

video { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

// Listing Items
.listing-item h2 {
	color:  #ff0179 !important;
	font-size: 2em!important;
}

// Single Project Overlay
.listing-item__content {
	background: none;	
}

.listing-item__content--bottom {
	align-items: center;
	justify-content: center;
}